@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   /* background-color: #003d5bff; */
    font-family: Lato, sans-serif;
    margin: 0;
    
}


/*------NAVIGATION BAR--------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #0C2634;
    margin: 0;
    position: sticky;
    position:-webkit-sticky;
    top: 0px;
}
h1{
    display: flex;
    color: #edae49ff;
    background-color: #0C2634;
    margin: 0;
    padding: 0;
}
.nav_bar{
    list-style-type: none;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C2634;
}

.nav_bar li a{
    display: block;
    text-align: center;
    padding: 14px 16px;;
    color: #edae49ff;
    background-color: #0C2634;
    text-decoration: none;
}

.nav_bar li a:hover{
    color: #d35400;
}

.nav_bar li a:active{
    font-weight: 600;
}

.add-shadow{
    box-shadow: rgba(18, 19, 20, 0.3) 0px 2px 2px 0px;
}

#contact{
    background-color: #0C2634;
}

button{
    padding: 9px 20px;
    text-transform: uppercase;
    background-color: #edae49ff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  
    -webkit-box-shadow: 0px 6px 0px #edae49ff;
    -moz-box-shadow: 0px 6px 0px #edae49ff;
    box-shadow: 0px 6px 0px #d35400;
}

button:active{
   
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
    
}


/*-----------HOME PAGE------------*/

body{
    background: linear-gradient(180deg, rgb(27, 66, 98), rgb(2, 41, 61))
}

h2{
    color: #edae49ff;
    margin-left: 30px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
}

ol{
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 60px;
    padding-right: 30px;
}

ol li{
    margin-bottom: 15px;
    margin-top: 30px;
    color: #edae49ff;
    text-decoration: underline;
    font-weight: bold;
}

p{
    line-height: 150%;
    color: #edae49ff;
}

#link_dpuworld{
    color: #edae49ff;
}

#link_dpuworld:hover{
    color:#d35400;
}


#link_dpuwrapped{
    color: #edae49ff;
}

#link_dpuwrapped:hover{
    color:#d35400;
}

/*---------Common h2 section-----------*/

.problems, .solution, map, timeline {
    height: 88vh;
    width: 100%;
}
/*---------DePauWorld PAGE-----------*/
iframe {
    width: 90vw; 
    height: 800px;

    margin: 0 auto; /* Set left and right margin to auto to center horizontally */
    display: block; /* Make the iframe a block element to center horizontally */

    /*ChatGPT using - how to separate the iframe from the border*/
    border: none; /* remove the default border */
    box-sizing: content-box; /* ensure that padding is added to the content box */
    padding-bottom: 100px; /* add padding to the bottom of the content box */
    border-bottom: 1px solid #ccc; /* add a border to the bottom of the content box */
}


/*---------DePauWrapped PAGE-----------*/