@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   /* background-color: #003d5bff; */
    font-family: Lato, sans-serif;
    margin: 0;
    
}


/*------NAVIGATION BAR--------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #0C2634;
    margin: 0;
    position: sticky;
    position:-webkit-sticky;
    top: 0px;
    z-index: 1000;
}
h1{
    display: flex;
    color: #edae49ff;
    margin: 0;
    padding: 0;
}
.nav_bar{
    list-style-type: none;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C2634;
}

.nav_bar li a{
    display: block;
    text-align: center;
    padding: 14px 16px;;
    color: #edae49ff;
    background-color: #0C2634;
    text-decoration: none;
}

.nav_bar li a:hover{
    color: #d35400;
}

.nav_bar li a:active{
    font-weight: 600;
}

.add-shadow{
    box-shadow: rgba(18, 19, 20, 0.3) 0px 2px 2px 0px;
}

#contact{
    background-color: #0C2634;
}

button{
    padding: 9px 20px;
    text-transform: uppercase;
    background-color: #edae49ff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  
    -webkit-box-shadow: 0px 6px 0px #edae49ff;
    -moz-box-shadow: 0px 6px 0px #edae49ff;
    box-shadow: 0px 6px 0px #d35400;
}

button:active{
   
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
    
}



/*-----------HOME PAGE------------*/

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(180deg, rgb(27, 66, 98), rgb(2, 41, 61));
    scroll-behavior: smooth;
    min-width: 960px;
}

h2{
    color: #edae49ff;
    margin-left: 30px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
}

ol{
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 60px;
    padding-right: 30px;
}

ol li{
    margin-bottom: 15px;
    margin-top: 30px;
    color: #edae49ff;
    text-decoration: underline;
    font-weight: bold;
}

p{
    line-height: 150%;
    color: #edae49ff;
}

#link_dpuworld{
    color: #edae49ff;
}

#link_dpuworld:hover{
    color:#d35400;
}


#link_dpuwrapped{
    color: #edae49ff;
}

#link_dpuwrapped:hover{
    color:#d35400;
}

/*---------Common section-----------*/

.problems, .solution, map {
    height: 88vh;
    width: 100%;
}

/*---------About section-----------*/

.about{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.about #description{
    text-align: center;
    margin-bottom: 30px;
}
img{
    width: 35%;
    height: auto;
    border-radius: 80%;
    padding: 20px;
    margin: 10px;
    
}

.minh, .quynh{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}


.minh{
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quynh{
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    color: #edae49ff;
}

.quote{
    font-style: italic;
}

/*---------Footer section-----------*/

footer{
    background-color: linear-gradient(180deg, #042b40,#0C2634 );
    text-align: center;
    justify-content: center;
    display: inline-block;
    padding: 0px;
    position: flex;
    bottom: 0;
    width: 100%;
}

.footer1{
    float: left;
    margin: 30px;
    padding: 80px 80px 0px 100px;
}

.footer2{
    text-align: right;
    margin: 30px;
    padding: 80px 100px 0px 80px;
}
/*---------DePauWorld PAGE-----------*/
iframe {
    width: 90vw; 
    height: 800px;

    margin: 0 auto; /* Set left and right margin to auto to center horizontally */
    display: block; /* Make the iframe a block element to center horizontally */

    border: none; /* remove the default border */
    box-sizing: content-box; /* ensure that padding is added to the content box */
    padding-bottom: 100px; /* add padding to the bottom of the content box */
    border-bottom: 1px solid #ccc; /* add a border to the bottom of the content box */
}

.map h3{
    text-align: center;
    margin-bottom: 20px;
}

/*---------DePauWrapped PAGE-----------*/

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
   
}

.timeline-description{
    text-align: center;
}

.timeline-container{
    padding: 10px 50px;
    position: relative;
    width: 40%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;

}

.text-box h2{
    padding: 0px;
    text-align: left;
    color: #042b40;
    margin: 0px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.timeline-container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    /* right: -62px; */
    top: 20px;
    z-index: 10;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-container:nth-child(1){
    animation-delay: 0s;
}
.timeline-container:nth-child(2){
    animation-delay: 1s;
}
.timeline-container:nth-child(3){
    animation-delay: 2s;
}
.timeline-container:nth-child(4){
    animation-delay: 3s;
}
.timeline-container:nth-child(5){
    animation-delay: 4s;
}
.timeline-container:nth-child(6){
    animation-delay: 5s;
}

.left-container img{
    right: -62px;
}


.right-container img{
    left: -58px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #edae49ff;
    top: 0px;
    left: 50%;
    margin-left: -12px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
    margin-bottom: 5px;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 45px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -14px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 45px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -14px;
}

@media  screen and (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 50px;
    }
    .timeline-container{
        width: 40%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom:10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: -10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

    header h1{
        display: none;
    }

   
    footer{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    

}

